{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info alert-dismissible fade show mb-0" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->

  <div class="page-header row no-gutters py-4">

    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          <h4 class="page-title">升级日志</h4>
    </div>
    <div class="col-12 col-sm-8 text-center text-sm-right mb-0">
          <a href="{{ url_for('upgrade_add') }}"><button type="button" class="btn btn-accent" >新建日志</button></a>
    </div>

    </div>
  <!-- End Page Header -->
  <!-- Default Light Table -->
  <div class="row">
    <div class="col">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0"></h6>
        </div>
        <div class="card-body p-0 pb-3 text-center">
          <table class="table mb-0">
            <thead class="bg-light">
            <tr>
              <th scope="col" class="border-bottom border-0">ID</th>
              <th scope="col" class="border-bottom border-0">标题</th>
              <th scope="col" class="border-bottom border-0">创建人</th>
              <th scope="col" class="border-bottom border-0">创建时间</th>
            </tr>
            </thead>
            <tbody>
            {% for upgrade in upgrade_data %}
            <tr>
              <td>{{ upgrade.id }}</td>
              <td><a href="{{ url_for('upgrade_details', id=upgrade.id) }}" >{{ upgrade.title }}</a></td>
              <td>{{ upgrade.creator }}</td>
              <td>{{ upgrade.create_time }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Default Light Table -->

</div>
{% endblock %}